= form_tag time_entries_sheet_url, class: 'time-entries-form', id: SecureRandom.hex, remote: true do
  %table.list.time-entries
    %thead
      %th Номер
      %th Проект
      %th Тема
      %th= date.strftime("%d/%m")
      %th= (date + 1.day).strftime("%d/%m")
      %th= (date + 2.day).strftime("%d/%m")
      %th= (date + 3.day).strftime("%d/%m")
      %th= (date + 4.day).strftime("%d/%m")
      %th= (date + 5.day).strftime("%d/%m")
      %th= (date + 6.day).strftime("%d/%m")
    %tbody
      .foo
      - @issues.each do |f|
        %tr
          %td.id=f.id
          %td.project=f.project.name
          %td.subject
            = link_to(f.subject.truncate(60), issue_path(f))
          %td= render partial: "time_entries_sheet_cell", locals: {date:date, hours:hours, index:0, issue:f}
          %td= render partial: "time_entries_sheet_cell", locals: {date:date, hours:hours, index:1, issue:f}
          %td= render partial: "time_entries_sheet_cell", locals: {date:date, hours:hours, index:2, issue:f}
          %td= render partial: "time_entries_sheet_cell", locals: {date:date, hours:hours, index:3, issue:f}
          %td= render partial: "time_entries_sheet_cell", locals: {date:date, hours:hours, index:4, issue:f}
          %td= render partial: "time_entries_sheet_cell", locals: {date:date, hours:hours, index:5, issue:f}
          %td= render partial: "time_entries_sheet_cell", locals: {date:date, hours:hours, index:6, issue:f}

  .save-button{align:'center', style:'padding-top:30px;'}
    = hidden_field_tag "date", date.strftime("%d-%m-%Y")
    %a.submit-form-button{style: "color:black;cursor:pointer;border:1px solid gray;padding:10px;"} Сохранить
%br
%br
