= form_tag({}) do
  %table.list.issues
    %thead
      %tr
        %th #
        %th= l(:field_project)
        %th= l(:field_tracker)
        %th= l(:field_subject)
        %th Часы
        %th Комментарий
        %th Статус
    %tbody
      - @time_entries.each do |f|
        %tr{id: "time_entry_id-#{f.id}", class:"hascontextmenu"}
          %td.id
            = check_box_tag("ids[]", f.id, false, :id => nil)
            = link_to(f.id, issue_path(f.issue))
          %td.project= f.project.name
          %td.tracker= f.issue.tracker.name
          %td.subject
            = link_to(f.issue.subject.truncate(60), issue_path(f.issue))
            (#{f.issue.status})
          %td=f.hours
          %td=f.comments
          %td=t "time_entries.confirmation_status.#{f.confirmation_status}"
