= form_tag({}) do
  %table.list.issues
    %thead
      %tr
        %th.checkbox.hide-when-print
          = check_box_tag 'check_all', '', false, :class => 'toggle-selection', |
            :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}"
        %th #
        %th= l(:field_project)
        %th= l(:field_subject)
        %th Пользователь
        %th Дата
        %th Часы
        %th Комментарий
        %th Статус
    %tbody
      - @time_entries.where.not(:issue_id => nil).each do |f|
        %tr{id: "time_entry_id-#{f.id}", class:"hascontextmenu"}
          %td
            = check_box_tag("ids[]", f.id, false, :id => nil)
          %td.id
            = link_to(f.id, f)
          %td.project= f.project.name
          %td.subject
            = link_to(f.issue.subject.truncate(60), issue_path(f.issue))
            (#{f.issue.status})
          %td.user= f.user.name
          %td= f.spent_on.strftime("%d.%m.%Y")
          %td=f.hours
          %td=f.comments
          %td=t "time_entries.confirmation_status.#{f.confirmation_status}"
