.week-picker-wrapper{align:"center"}
  Неделя
  &nbsp;
  =form_tag "", id: "time-entries-form", method: :get, remote: true do
    = select_tag :week, options_for_select(weeks_selector_data(),@date.at_beginning_of_week.strftime('%d-%m-%Y')), id: 'week-select'
%br

#week-time-entries
  = render partial: 'week_time_entries'

.support{style:'display:none'}
  =form_tag "", id: "time-entries-form", method: :get, remote: true

= javascript_include_tag "time-entries-confirmation"

= javascript_include_tag('context_menu')
= stylesheet_link_tag('context_menu')
= context_menu time_entries_confirmation_context_menu_path
