%h2 Мое расписание

%table.time-entries-sheet
  %thead
    %th Номер
    %th Проект
    %th Тема
    %th 13.12.18 - ПН
    %th 14.12.18 - ВТ
    %th 15.12.18 - СР
    %th 16.12.18 - ЧТ
    %th 17.12.18 - ПТ
    %th 18.12.18 - СБ
    %th 19.12.18 - ВС
  %tbody
  = form_for time_entries_sheet_url do |f|
    - @issues.each do |f|
      %tr
        %td=f.id
        %td=f.project.name
        %td=f.subject
        %td= text_field_tag "13-12-18-#{f.id}",nil, class: "time-entry-input"
        %td= text_field_tag "14-12-18-#{f.id}",nil, class: "time-entry-input"
        %td= text_field_tag "15-12-18-#{f.id}",nil, class: "time-entry-input"
        %td= text_field_tag "16-12-18-#{f.id}",nil, class: "time-entry-input"
        %td= text_field_tag "17-12-18-#{f.id}",nil, class: "time-entry-input"
        %td= text_field_tag "18-12-18-#{f.id}",nil, class: "time-entry-input"
        %td= text_field_tag "19-12-18-#{f.id}",nil, class: "time-entry-input"
